[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.11.1"
pyqt5 = "==5.15.7"
requests = "==2.28.1"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
